{% load i18n %}
{% include "navigation.html" %}




<div class="container">
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form class="form-horizontal" action='' method="POST">
			    <div id="legend">
			      <legend class="">Sign Up for an Account:</legend>
			    </div>
			 

<div class="login">
<form action="" method="post">
{% load widget_tweaks %}
{% csrf_token %}
<!-- {{ form }} -->

				
		{% render_field form.username class+="input-lg" placeholder="Username" %}
		{% render_field form.email class+="input-lg" placeholder="Email" %}
		<br> <br>
		{% render_field form.password1 class+="input-lg" placeholder="Password" %}
		<br> <br>
		{% render_field form.password2 class+="input-lg" placeholder="Password (again)" %}
		<br><br>

		<button type="submit" class="btn btn-light btn-md">Submit</button> 

</form>
</div>


			    </div>
			</form>
		</div>
	</div>
</div>