{% load i18n %}
<!DOCTYPE html>
<htmln lang="en">
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>

	<body>
<h1> Use this form to add your own vehicle: </h1>

			<form action='/add-vehicle/' method='post'>
				{% csrf_token %}
				{{ form.as_p }} <br> <br>
				<input type='submit' value='Add vehicle' />
			</form>

	</body>
</html>