{% load i18n %}
{% include "navigation.html" %}


<div class="container">
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form class="form-horizontal" action='' method="POST">
			    <div id="legend">
			      <legend class="">Use this form to add your own vehicle:</legend>
			    </div>
			 

<div class="login">
<form action="/add-vehicle/" method="post">
{% csrf_token %}

<p><label for="id_year">Year</label>
<input id="id_year" type="text" name="year" maxlength="100" /></p>

<p><label for="id_make">Make</label>
<input type="text" name="make" id="id_make" /></p>

<p><label for="id_model">Model</label>
<input type="text" name="model" id="id_model" /></p>

<button type="submit" class="btn btn-light btn-md">Submit</button>
</form>
</div>


			    </div>
			</form>
		</div>
	</div>
</div>

