{% load i18n %}
<!DOCTYPE html>
<htmln lang="en">
	<head>
		<meta charset="utf-8"> 
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}custom.css" >
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		  <!-- Compiled and minified JavaScript -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	</head>

	<body>


<nav class="navbar navbar-car navbar-fixed-top">
    <div class="container">
		{% block header %}
        	<a class="navbar-brand" href="/">{% trans "Home" %}</a>
        		<div class="collapse navbar-collapse">
            		<ul class="nav navbar-nav navbar-right">
                	{% if user.is_authenticated %}

				
			          
			            <li><a href="{% url 'auth_logout' %}">{% trans "Log Out" %}</a></li>
			            <li><a href="{% url 'auth_password_change' %}">{% trans "Change Password" %}</a></li>
			          </ul>

			      

<!-- 		        		<li class="font-change">
		        			<a href="{% url 'auth_logout' %}">{% trans "Log Out" %}</a>
		        		</li>
		        		<li class="font-change">
                    		<a href="{% url 'auth_password_change' %}">{% trans "Change Password" %}</a>
                		</li> -->
                		{% else %}
                		<li class="font-change">
                			
		       				<a href="{% url 'auth_login' %}">{% trans "Log In" %}</a>
		    				{% endif %}
		    				{% endblock %}
                		</li>
            		</ul>
        		</div>
    </div>
</nav>




        


<!-- start review stuff -->
<div id="content">
{% block content %}{% endblock %}
</div>


<br>

<!-- <h1 class="text-center">{{ year }} {{ make }} {{ model }}</h1> -->
<br>


{% if vehiclePhoto.count >= 1 %}
    <div class="parallax-container">
      <div class="parallax">
      	<img src="{{vehiclePhoto.0.photo.url}}">
      </div>
        <div class="caption">
            <center>{{ year }} {{ make }} {{ model }}</center>
        </div>
    </div>
{% endif %}


{% if vehiclePhoto.count == 0 %}
    <div class="parallax-container">
      <div class="parallax">
      	<img src="{{ STATIC_URL }}black_bg.jpg">
      </div>
        <div class="caption">
            <center>{{ year }} {{ make }} {{ model }}</center>
        </div>
    </div>
{% endif %}

<!-- <h3 class="text-center">Overall Rating: 4.5</h3> -->
<br>
<center><a class="btn btn-light center" href="#read_review" role="button">Read Reviews</a>   <a class="btn btn-light center" href="#review" role="button">Write A Review</a></center>

<A NAME="read_review"></a>
<div class="container">
    <div class="row">         
        <div class="col-md-8 col-md-offset-2">
            <div class="comments-list">
           		{% for i in reviews %}
                  	<div class="page-header"></div> 
                       	<div class="media">
                           	<p class="pull-right"><small>[star rating]</small></p>
                            	<a class="media-left"><img src="http://s3-us-west-2.amazonaws.com/curely-static/v5/images/topmenu/icon_profile_face_off.png"></a>
                        			<div class="media-body">                                
                              			<h4 class="media-heading user_name">{{ i.title }}</h4>
                              			<p class ="comments-list"><small><strong>{{i.author}}</strong> on {{i.created}}</small></p>
                              			{{ i.body }}               
                              			<!-- <p class ="comments-list"><small>I own one.</small></p> -->
                              			<br><br>
                            		</div>
                      	</div>
          		{% endfor %}
             </div>       
        </div>
    </div>
</div>


<br><br><br><br><br><br>
<A NAME="review"></a>

<div class="container">
    <div class="row">         
        <div class="col-md-6 col-md-offset-3">
		<h4 class="text-center">Write A Review</h4>

			{% if user.is_authenticated %}
			<form action='/write-review/{{ year }}/{{ make }}/{{ model }}' method='post'>
				{% load widget_tweaks %}
				{% csrf_token %}
				{% render_field form.title class+="form-group input-lg" placeholder=form.title.label %}
				<br>
				{% render_field form.body class+="form-control" placeholder=form.body.label rows=6 %}
				<br> <br>
				<button type="submit" class="btn btn-light btn-md">Submit</button>
			</form>

			{%else %}
			<h4 class="text-center">Please login to write a review</h4>
			{%endif %}

		</div>
	</div>
</div>

<br><br><br><br><br><br><br>
	

<script type="text/javascript">$('.dropdown-toggle').dropdown()</script>

<script>
$(document).ready(function(){
	$('.parallax').parallax();
});


</script>



  <div class="fixed-action-btn" style="bottom: 30px; right: 24px;">
    <a class="btn-floating btn-large grey" href="#review">
      <i class="large mdi-hardware-keyboard-arrow-down" style="font-size:30px"></i>
    </a>
<!--     <ul>
      <li><a class="btn-floating deep-orange darken-1"><i class="large mdi-social-plus-one"></i></a></li>
    </ul> -->
  </div>
        


		
	</body>
</html>
