{% load i18n %}
<!DOCTYPE html>
<htmln lang="en">
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>

	<body>

	<center><a href="/"><h1>crowdshift</h1></a></center>

    <div id="header">
    <center>
    {% block header %}
    <h5><a href="/">{% trans "Home" %}</a> | 

    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }} </h5>
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

	</center>


		<center>
		<br><br>
			<form action='/search/' method='post'>
				{% csrf_token %}
				{{ form.as_table }} <br> <br>
				<input type='submit' value='Search' />
			</form>
		</center>

<!-- 			<div class="row">
			  <div class="col-md-4 col-md-offset-4">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for a car">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div>
			  </div>
			</div> -->


		
	</body>
</html>
