html,body {
  height:100%;
}

h1 {
  font-family: font-family: 'Lato', sans-serif;
  font-size:80px;
  color:#ffffff;
}


.container-top {
  margin: 0 auto;
  width: 100%;
  min-height:60%;
  background-color:#000000;
  overflow:hidden;
}




  
