html,
body {
    width: 100%;
    height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color:#ffffff;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 17px;
  	color:#ffffff;
}

a {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


.btn-dark {
    border-radius: 8;
    color: #ffffff;
background-color: rgba(173, 106, 12, 0.56);
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 17px;
  	color:#ffffff;
}

.btn-dark:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
}


.btn-light {
    border-radius: 8;
    color: #ffffff;
background-color: rgb(0,128,128);
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color:#ffffff;
}

.btn-light:hover {
    color: #ffffff;
    background-color: rgba(0,128,128,0.7);
}


.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(2, 2, 2, 0.02), rgba(0, 0, 0, 0.79) ), url(orangeroadblurr.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}


.featured {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #060404;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.navbar {
    background: rgba(0,0,0,0);
    border: 0px;
  }

.navbar-car{
  background: rgb(0,0,0);
  height:50px;
  line-height:50px;
  margin-bottom: 0px;
}

.navbar-landing{
  background: rgb(0,0,0);
  height:50px;
  line-height:50px;
  margin-bottom: 0px;
}

.navbar-brand, .font-change {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 19px;
  	color:#ffffff;
    vertical-align: middle;

}



.user_name{
    font-size:14px;
    font-weight: bold;
    color: #000000;
}

.normal{
    font-size:18px;
    color: #000000;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.comments-list{
  color: #000000;
  width: 80%;
}

.caption {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 88px;
}

.caption-small {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
}

.parallax img{
  width: 100%;
  position: absolute;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
}


.parallax-container {
  background: linear-gradient( rgba(2, 2, 2, 0.02), rgba(0, 0, 0, 0.50) );
    height: 85%;

}

input[type="text"] {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size:16px;
    display: block;
    margin-bottom: 10px;
    background-color: white;

}

.form-control{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

.login p {
    color: #000000;
}

