html,
body {
    width: 100%;
    height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color:#ffffff;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 17px;
  	color:#ffffff;
}

a {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


.btn-dark {
    border-radius: 8;
    color: #ffffff;
background-color: rgba(0, 105, 91, 1);
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 17px;
  	color:#ffffff;
}

.btn-dark:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
}


.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), url(orangeroadblurr.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}



.navbar {
    background: rgba(0,0,0,0);
    border: 0px;
  }

.navbar-brand, .font-change {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 17px;
  	color:#ffffff;
}



.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.comments-list{
  color: #000000;
}


